h1{Color: #0288d1;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;}
h2{color: rgb(94, 13, 83);
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: right;}